AqoursApp/AqoursApp/_dev-front/node_modules/
AqoursApp/AqoursApp/_dev-front/dist/
AqoursApp/AqoursApp/_dev-front/npm-debug.log*
AqoursApp/AqoursApp/_dev-front/yarn-debug.log*
AqoursApp/AqoursApp/_dev-front/yarn-error.log*
AqoursApp/AqoursApp/_dev-front/test/unit/coverage/
AqoursApp/AqoursApp/_dev-front/test/e2e/reports/
AqoursApp/AqoursApp/_dev-front/selenium-debug.log
AqoursApp/AqoursApp/www/
AqoursApp/AqoursApp/__pycache__/

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
