menu {
	width: 10rem;
	height: 100%;
	position: fixed;
	padding-top: 2rem;
	left: 0;
	top: 5rem;
	background-color: #212121;
	border-right: 1px solid #009688;
	li {
		width: 100%;
		text-align: center;
		display: inline-block;
		list-style: none;
		cursor: pointer;
		&:hover {
			background-color: #292929;
			border-bottom: 2px solid #009688;
		}
	}
	a {
		text-decoration: none;
		color: white;
		display: block;
		padding: 1.5rem 1rem;
	}
}