.card {
	height: 18rem;
	width: 14rem;
	display: inline-block;
	position: relative;
	margin: 1rem;
	padding: 1rem;
	background-color: #212121;
	border-radius: .25rem;
	box-shadow: .5rem .5rem 1rem rgba(0,0,0,.1);
	text-align: left;
	float: left;
	vertical-align: middle;
}
.member-img {
	width: 3rem;
	height: 3rem;
	background-color: #009688;
	border-radius: 1.5rem;
	display: inline-block;
	position: absolute;
	left: 6.5rem;
	top: -1.5rem;
}
.member-name {
	width: 100%;
	font-size: .5rem;
	font-weight: bold;
	position: absolute;
	left: 0rem;
	top: 2rem;
	text-align: center;
}
.comment {
	width: 100%;
	height: 16rem;
	margin-top: 2.5rem;
	display: inline-block;
}