@charset 'utf-8';

// ===============
// 基準色
// ===============

$_color-teal-light:	#26a69a;
$_color-teal: 		#009688;
$_color-teal-dark:	#00897b;
$_color-warn:		#e91e63;

$_color-gray-light:	#78909c;
$_color-gray:		#607d8b;
$_color-gray-dark:	#546e7a;
$_color-dark:		#2f2f2f;
$_color-darker:		#212121;

$_color-black:		#000;
$_color-white:		#fff;


// ===============
// 角丸の基準
// ===============

$_radius-base:		.5rem;